/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/libraries/gradle_wrapper.xml
/.idea/libraries/instant_run.xml
/.idea/libraries/instant_run_bootstrap.xml
/.idea/libraries/mockable_android_25.xml
/.idea/libraries/picasso_2_5_2.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/PopularMovies/.idea/compiler.xml
/PopularMovies/.idea/copyright/profiles_settings.xml
/PopularMovies/.idea/gradle.xml
/PopularMovies/.idea/misc.xml
/PopularMovies/.idea/modules.xml
/PopularMovies/.idea/runConfigurations.xml
